:root {
  font-size: 1.5rem;
  --background-color: #00adb5;
  --text-color: #eeeeee;
  --black: #222831;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

button {
  border: 2px solid var(--text-color);
  border-radius: 10px;
  background-color: #393e46;
}

.addButton {
  width: 8vw;
  height: 5vh;
  margin: 0px 10px;
}

.dialogButton {
  width: 5vw;
  height: 3vh;
}

dialog {
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid var(--text-color);
  padding: 10px;
  background-color: var(--black);
  width: 30vw;
}

div + #addBook {
  align-self: flex-end;
}

input {
  border: 1px solid var(--text-color);
  background-color: var(--black);
  padding: 5px;
  width: 200px;
}

label {
  font-size: 0.8rem;
}

label > span {
  color: red;
}

dialog > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

dialog > div > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

dialog > div > form > div {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  border: 2px solid var(--text-color);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid;
  padding: 10px 20px;
}

th {
  background-color: var(--black);
}

td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #526D82;
}

tbody tr:nth-child(even) {
  background-color: #9DB2BF;
}

.container {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: var(--background-color);
  gap: 10px;
}
